.divisionformat {
  background-color: #141625;
  display: block;
  gap: 1rem;
  width: 600px;
  height: 550px;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  border-radius: 5px;
  border: 0px;
  color: white;
  max-width: 768px;
}

.divisionformat2 {
  background-color: #1e2139;
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  color: white;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.subhead {
  border-radius: 40px;
  padding-left: 10px;
  background-color: #7c5dfa;
  border: 0px;
  color: white;
  width: 10rem;
  height: 2.5rem;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  min-height: 100vh;
}
.subhead2 {
  color: white;
  font-size: 20px;
}
.black {
  background-color: #1f2c3f;
  outline: none;
  border: none;
}
.black1 {
  background-color: #2b2736;
  outline: none;
  border: none;
}
.input {
  outline: none;
  border: none;
}
